.devops-layout-index {
  background-color: #fff;
  padding: 10px;
}
.devops-layout-index .devops-block {
  height: 100%;
  min-height: 600px;
  border-right: solid 1px #dddddd;
}
.devops-form-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.devops-form-layout .form-widget {
  width: 110px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  background-color: #f4f6fc;
  border: 1px solid #f4f6fc;
  margin-bottom: 10px;
  margin-left: 3px;
  padding-left: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.devops-form-layout .form-widget:hover {
  background-color: #1890ff;
  color: #fff;
}
.devops-form-container {
  height: 100%;
  min-height: 600px;
  padding: 10px;
  overflow: auto;
}
.devops-form-container .form-item {
  border: solid 1px #dddddd;
  margin-top: 10px;
  min-height: 40px;
  padding: 10px;
  cursor: pointer;
}
.devops-form-container .form-item:hover {
  background-color: #ecf5ff;
}
.devops-form-container .form-item-selected {
  border: solid 2px #1890ff;
}
